body {
    background-image: linear-gradient(lightblue, white);
    background-size: cover;
    color: black;
    /* background-attachment: fixed; */
}

.circle:hover {
border-radius:50%;
}

.color {
    background: grey;
}

h1 {
    font-size: 50px;
    padding: 50px;
    border: 5px solid grey;
    text-align: center;
    margin: 300px;
    color: white;
    background-image: url("../img/02.jpeg");
    background-size: cover;
    background-attachment: fixed;
}

/* nav {
    font-size: 20px;
    text-align: center;
    letter-spacing: 5px;
    background-color:white;
    color: white;
    background-image: url("../img/02.jpeg");
    background-size: cover;
    background-attachment: fixed;
} */

nav {
    height: 100%;
    width: 200px;
    position: fixed;
    top: 0;
    left: 0;
    background-color: transparent;
    overflow-x: hidden;
    padding-top: 20px;
    color: black;
    font-size: 20px;
  }
  
a {
    text-decoration: none;
    color: white;
}

a:hover {
    background-color: white;
    padding-right: 0%;
    color: black;
}

h2 {
    color: white;
    padding-left: 400px;
    padding-right: 400px;
    padding-top: 20px;
    padding-bottom: 20px;
    text-align: center;
}

.about {
    background-image: url("../img/02.jpeg");
    background-attachment: fixed;
    background-size: cover;
    border: 10px solid black;
    color: white;
}

p {
    color: white;
    padding-left: 300px;
    padding-right: 300px;
}

html {
    scroll-behavior: smooth;
}

.image border {
    border-radius: 150px;
}

#about {
    position: relative;
    padding-right: 400px;
    padding-left: 400px;
}

.container1 {
    position: relative;
    bottom: 200px;
    padding-right: 400px;
    padding-left: 400px;
    color: white;
    font-size: 20px;
}

.container2 {
    background-image: url("../img/01.jpeg");
    background-attachment: fixed;
    background-size: cover;
    border: 10px solid black;
}

.image {
    margin-right: 1200px;
    position: relative;
    border-radius: 100px;
}

#education {
    padding-left: 400px;
    padding-right: 400px;
    padding-top: 40px;
    padding-bottom: 40px;
}

#skills {
    padding-left: 400px;
    padding-right: 400px;
    padding-top: 40px;
    padding-bottom: 40px;
}

#experience {
    padding-left: 400px;
    padding-right: 400px;
    padding-top: 40px;
    padding-bottom: 40px;
}

#contact {
    padding-left: 400px;
    padding-right: 400px;
    padding-top: 40px;
    padding-bottom: 40px;
}

.footer-container {
    font-size: 20px;
    text-align: center;
    letter-spacing: 5px;
    background-color:white;
    color: black;
}

/* Start of Responsive Design */

@media only screen and (max-width: 786px) {
    body {
        background-image: url("../img/");
        /* background-color: aquamarine; */
        /* background-size: 100%; */
        color: antiquewhite;
        /* background-attachment: fixed; */
        /* margin-right: 200px; */
    }
    
    .circle:hover {
    border-radius:50%;
    }
    
    .color {
        background: none;
    }
    
    h1 {
        font-size: 10px;
        padding: 0px;
        border: 1px solid black;
        text-align: center;
        margin: 0px;
        color: black;
    }
    
    nav {
        font-size: 10px;
        text-align: left;
        letter-spacing: 0.1px;
        color: black;
    }
    
    a {
        text-decoration: none;
        color: black;
    }
    
    a:hover {
        background-color: darkgrey;
        padding-right: 0%;
        color: black;
    }
    
    h2 {
        color: black;
        padding: 0%;
    }
    
    p {
        color: black;
        padding: 0%;
    }
    
    html {
        scroll-behavior: smooth;
    }
    
    .image border {
        border-radius: 150px;
    }
    
    #about {
        bottom: 200px;
        position: relative;
        padding: 0%;
    }
    
    #education {
        padding: 0%;
    }
    
    #skills {
        padding: 0%;
    }
    
    #experience {
        padding: 0%;
    }
    
    #contact {
        padding: 0%;
    }
    
    .footer-container {
        font-size: 10px;
        text-align: left;
        letter-spacing: 0.1px;
        color: black;
    }
    
}