body {
    font-size: 100%;
    color: black;
    background: #e0ebe8;
    min-height: 55vh;
    padding-top: 45vh;
}

.wrapper {
    margin: 0 auto;
    width: 90%;
    top: 0;
}

header {
    top: 0;
    width: 100%;
    max-width: 100%;
    position: fixed;
    z-index: 999;
    background: rgba(50,50,50,.95);
    box-shadow: 0 10px 20px rgba(50,50,50,.95);
}

nav {
    margin-top: 10px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
}

nav a {
    font: 1.2em/1em sans-serif;
    display: inline-block;
    padding: 10px 15px;
    text-decoration: none;
    color: white;
}

nav a:hover {
    color: #e0ebe8;
}

#parallax {
    padding-top: 70px;
    margin-top: 300px;
}

p {
    margin: 0 0 10px;
    line-height: 1.65em;
    text-indent: 30px;
    padding: 10px;
}

.parallaxSection{
	height: 50vh;
  	background-repeat: no-repeat;
  	background-attachment: fixed;
  	background-size: cover;
  	background-position: 100% auto;
    position:relative;
}

.parallaxImage{
    background-image: url("../img/p6.jpeg");
}

.center {
    padding: 200px;
    text-align: center;
    color: white;
    font-size: 20px;
    text-decoration: underline;
    text-transform: capitalize; 
}

.quote {
    height: 50vh;
    background-color: #e0ebe8;
    color: rgba(50,50,50,.95);
    text-align: center;
    text-transform: capitalize;
    text-decoration: underline;
    padding: 20px;
}

.about {
    height: 50vh;
    background-image: url("../img/p6.jpeg");
    background-size: cover;
    background-attachment: fixed;
}